body {
    background-image: linear-gradient(rgb(241, 44, 192), wheat);
  }

  h1, h2, p {
      text-align: center;
  }

  #AP {
     font-weight: bold;
     font-style: oblique;
  }

  .link {
      background-image: url("/Letter2NumeralURemix/coverart.jpg");
      background-size: contain;
      width:7.5rem;
      height:6.25rem;
      
    border: .4rem solid black;
    border-radius: 11.25rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    text-align: center;
    color: rgb(226, 67, 192);    
      }

      h6 {
        font-size: 7px;
        float: right;
      }